rp:
    image: bibcnrs/shibboleth-sp
    ports:
        - 8443:443
    environment:
        - http_proxy
        - https_proxy
        - APPLI_APACHE_SERVERNAME
        - APPLI_APACHE_SERVERADMIN
        - APPLI_APACHE_LOGLEVEL
        - DOCKER_HOST_IP
    working_dir: /var/www/html
    volumes:
        - ./shibboleth/:/etc/shibboleth/
        - ./shibboleth/ssl:/etc/shibboleth/ssl
        - ./apache2/sites-available:/etc/apache2/sites-available
    restart: always
